
        <ion-card *ngFor="let practicioner of array">
          <ion-card-header>
            <ion-card-title style="height: 50px;">
              {{ practicioner.firstname }} {{ practicioner.lastname }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="height: 150px;">
            <b>Société :</b> {{ practicioner.companyName }}<br><br>
            <b>Adresse :</b> <br>
            {{ practicioner.address }}<br>
            {{ practicioner.city }}, {{ practicioner.postcode }}<br>
          </ion-card-content>
          <ion-footer>
            <ion-chip style="color:white;" class="{{practicioner.color}}">{{ practicioner.distance }} km</ion-chip>
            <ion-chip style="float: right;color:white;background-color:#5772F8">Accéder</ion-chip>
          </ion-footer>
        </ion-card>