<ion-header>
  <ion-toolbar>
    <ion-title>Calculatrice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #value="ngForm"  (ngSubmit)="calculeWithDiscountRate(value)" [formGroup]="formCalcule">
    <ion-row>
        <ion-col col-2>
          <ion-item class="padding-left-2px">
              <ion-label position="floating">Taux de remise (%) </ion-label>
              <ion-input formControlName="discountRate" type="text" (change)="calcule(value)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!formCalcule.controls.discountRate.valid  && (formCalcule.controls.discountRate.dirty || submitAttempt)">
            <p>Veuillez saisir un nombre entre 0 et 100.</p>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item>
                <ion-label position="floating"> Prix d’achat brut (€) </ion-label>
                <ion-input formControlName="grossPurchasePrice" (change)="calcule(value)" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formCalcule.controls.grossPurchasePrice.valid  && (formCalcule.controls.grossPurchasePrice.dirty || submitAttempt)">
                <p>Veuillez saisir un nombre positif .</p>
              </ion-item>
          </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Coef multiplicateur </ion-label>
                <ion-input formControlName="multiplicationCoefficient" (change)="calcule(value)" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formCalcule.controls.multiplicationCoefficient.valid  && (formCalcule.controls.multiplicationCoefficient.dirty || submitAttempt)">
                <p>Veuillez saisir un nombre positif .</p>
              </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Prix d'achat net (€) </ion-label>
                <ion-input formControlName="netPurchasePrice" (change)="calcule(value)" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formCalcule.controls.netPurchasePrice.valid  && (formCalcule.controls.netPurchasePrice.dirty || submitAttempt)">
                <p>Veuillez saisir un nombre positif .</p>
              </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Prix de vente net (€) </ion-label>
                <ion-input formControlName="netSellingPrice" (change)="calcule(value)"  type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formCalcule.controls.netSellingPrice.valid  && (formCalcule.controls.netSellingPrice.dirty || submitAttempt)">
                <p>Veuillez saisir un nombre positif .</p>
              </ion-item>
        </ion-col>
      </ion-row> 
    </form>

      <h4> Résultats</h4>
        <ion-item>
              <div class="tooltip">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="tooltiptext">Taux de remise = (1 – Prix d’achat net / Prix d’achat brut) x 100 </span>
              </div> 
              <ion-label >Taux de remise (%) = </ion-label>
              <ion-input [(ngModel)]="discountRateCalculated" readonly type="text" value="0" ></ion-input>
        </ion-item>
        <ion-item> 
            <div class="tooltip">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="tooltiptext">Prix d’achat net = Prix d’achat brut x (1 – taux de remise/100)</span>
            </div> 
            <ion-label>Prix d'achat net (€)  = </ion-label>
            <ion-input [(ngModel)]="netPurchasePriceCalculated" readonly type="text" value="0"></ion-input>
        </ion-item>
        <ion-item>
            <div class="tooltip">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span class="tooltiptext">Prix de vente net = prix d’achat net x coefficient multiplicateur</span>
            </div> 
          <ion-label >Prix de vente net (€) = </ion-label> 
          <ion-input [(ngModel)]="netSellingPriceCalculated" readonly type="text" value="0"></ion-input>
      </ion-item>
    <ion-item >
        <div class="tooltip">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span class="tooltiptext">Coefficient multiplicateur = Prix de vente net / Prix d’achat net </span>
        </div>   
        <ion-label >Coef multiplicateur =</ion-label>
        <ion-input [(ngModel)]="multiplicationCoefficientCalculated" readonly type="text" value="0"></ion-input>
    </ion-item>
</ion-content>
