<ion-header>
  <ion-toolbar>
    <ion-title>Calculatrice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form   (ngSubmit)="calcule()" [formGroup]="formCalcule">
    <ion-row>
        <ion-col col-2>
          <ion-item class="padding-left-2px">
              <ion-label position="floating">Taux de remise </ion-label>
              <ion-input formControlName="discountRate" type="text" (change)="calcule()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item>
                <ion-label position="floating"> Prix d’achat brut  </ion-label>
                <ion-input formControlName="grossPurchasePrice" type="text"></ion-input>
            </ion-item>
          </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Coefficient multiple </ion-label>
                <ion-input formControlName="multiplicationCoefficient" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Prix d'achat net </ion-label>
                <ion-input formControlName="netPurchasePrice" type="text"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-2>
            <ion-item class="padding-left-2px">
                <ion-label position="floating">Prix de vente net </ion-label>
                <ion-input formControlName="netSellingPrice"  type="text"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row> 
      <h4> Résultats</h4>
      <ion-row>
          <ion-item>
              <ion-label >Taux de remise = </ion-label>
              <ion-input formControlName="discountRateCalculated"  readonly type="text"></ion-input>
          </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
            <ion-label >Coefficient multiple  = </ion-label>
            <ion-input formControlName="netPurchasePriceCalculated"  readonly type="text"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
          <ion-label >Prix de vente net = </ion-label>
          <ion-input formControlName="netSellingPriceCalculated"  readonly type="text"></ion-input>
      </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
        <ion-label >Coefficient multiplicateur = </ion-label>
        <ion-input formControlName="multiplicationCoefficientCalculated"  readonly type="text"></ion-input>
      </ion-item>
    </ion-row>           
  </form>
</ion-content>
