<ion-header>
  <ion-toolbar>
    <ion-title>Liste des formulaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="forms?.length > 0">
    <ion-item *ngFor="let form of forms">
      <ion-label routerLink="/form/{{form.uuid}}" routerDirection="forward">
        <h2>{{form.name}}</h2>
        <p>{{form.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-text-center" *ngIf="forms?.length == 0">Aucun formulaire n'est actuellement disponible.</div>
</ion-content>