// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar{
    --background : #5772F8 !important;
    --color : white !important;
    --border-radius: 5px !important;
}

.disconnect{
    float: right;
    margin-right: 20px;
}

.home{
    float: left;
    margin-left: 20px;
}

ion-content{
    --padding-top: 2% !important;
    --overflow: hidden !important;
}

.margin-left{
    margin-right: 5%;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.scroll {
    overflow: auto !important;
    --overflow: auto !important;
}