<ion-header>
  <ion-toolbar>
    <div class="bar">
      <h1 class="home">Accueil</h1>
      <h1 class="disconnect">user.name - Déconnexion</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>  
      <ion-row>
          <ion-col>
              <div>
                <img src="assets/image.png">
              </div>
            </ion-col>
            <ion-col>
              <ion-row>
                <div>
                    <div>
                        <img src="assets/forms.png">
                      </div>
                </div>
              </ion-row>
              <ion-row>
                  <div>
                    <img src="assets/map.png">
                  </div>
                </ion-row>
            </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
