<app-header title="Accueil"></app-header>

<ion-content>
  <ion-grid>  
      <ion-row>
          <ion-col>
              <div>
                <img src="assets/image.png" (click)="toCalculator()">
              </div>
            </ion-col>
            <ion-col>
                  <div>
                      <img src="assets/forms.png" (click)="toFormList()">
                  </div>
                  <div>
                    <img src="assets/map.png" (click)="toMap()">
                  </div>
            </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
